nav#nav
  #nav-group
    span#blog_name
      a#site-name(href=url_for('/'))
        span #[=config.title]
        i.fas.fa-home
    span#page_name
      a#page-name-text(title=_p("rightside.back_to_top"))
        span #[=config.title]
      
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})

    #hotkey
      if (theme.algolia_search.enable || theme.local_search.enable)
        #search-button
          a.site-page.social-icon.search(title=_p('search.title'))
            i.ri-search-eye-line
      if (theme.darkmode.enable && theme.darkmode.button)
        #mode-button
          a.site-page(title=_p('rightside.night_mode_title'))
            i.ri-sun-fill
      if (page.comments !== false && theme.comments && theme.comments.use)
        #comment-button
          a.site-page(href="#post-comment" title=_p("rightside.scroll_to_comment"))
            i.ri-question-answer-fill
      #top-button
        a.site-page(title=_p("rightside.back_to_top"))
          i.ri-rocket-fill
      #toggle-menu
        a.site-page
          i.ri-dashboard-fill
