nav#nav
  #nav-group
    span#blog-info 
      if theme.nav.logo
        a(href=url_for('/') title=config.title)
          img.site-icon(src=url_for(theme.nav.logo))
        
      if theme.nav.display_title
        a.site-page(href=url_for('/') title=config.title)
          span.site-name=config.title
          i.fas.fa-home

    span#page_name
      a.site-page#page-title(title=_p("rightside.back_to_top") onclick="btf.scrollToDest(0, 500)")
        span #[=config.title]
      
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})

    #hotkey
      if (theme.algolia_search.enable || theme.local_search.enable)
        #search-button
          a.site-page.social-icon.search(href="javascript:void(0);" title=_p('search.title'))
            i.fas.fa-search.fa-fw
      //- if (theme.darkmode.enable && theme.darkmode.button)
      //-   #mode-button
      //-     a.site-page(title=_p('rightside.night_mode_title') onclick="btf.switchDarkMode()")
      //-       i.fas.fa-sun.fa-fw
      //-       i.fas.fa-moon.fa-fw
      if (page.comments !== false && theme.comments && theme.comments.use)
        #comment-button
          a.site-page(href="#post-comment" title=_p("rightside.scroll_to_comment"))
            i.fas.fa-comments.fa-fw
      #setting-button(onclick="eurkon.switchRightSide();")
        a.site-page(href="javascript:void(0);" title=_p("rightside.setting"))
          i.fas.fa-screwdriver-wrench.fa-fw
      #top-button
        a.site-page(href="javascript:void(0);" title=_p("rightside.back_to_top") onclick="btf.scrollToDest(0, 500)")
          span.scroll-percent
          i.fas.fa-arrow-up.fa-fw
      #toggle-menu
        a.site-page(href="javascript:void(0);")
          i.fas.fa-bars.fa-fw
