#footer-wrap
  //- #footer-social-container
  //-   a.footer-social-icon(href='/atom.xml' title='Atom 订阅')
  //-     i.fas.fa-atom
  //-   a.footer-social-icon(href='/rss.xml' title='RSS 订阅')
  //-     i.fas.fa-square-rss
  //-   img#footer-social-top.footer-social-img(src=url_for(theme.avatar.img) onerror=`onerror=null;src='${theme.error_img.flink}'` alt="avatar" title=_p("rightside.back_to_top"))
  //-   a.footer-social-icon(href='mailto:eurkon@foxmail.com' title='Email')
  //-     i.fas.fa-envelope
  //-   a.footer-social-icon(href='https://github.com/Eurkon' title='GitHub')
  //-     i.fab.fa-github
  #footer-group-container
    .footer-group
      span.footer-group-title= '统计'
      a.footer-group-item(href='/charts/')= '文章统计'
      a.footer-group-item(href='/census/')= '博客统计'
    .footer-group
      span.footer-group-title= '导航'
      a.footer-group-item(href='/link/#我的友链-amp-友链格式')= '申请友链'
      a.footer-group-item(href='https://github.com/Eurkon/hexo-theme-butterfly-eurkon')= '魔改源码'
      a.footer-group-item(href='/stars/')= '网站收藏'
      a.footer-group-item(href='javascript:toRandomPost();')= '随机文章'
    .footer-group
      span.footer-group-title= '分类'
      a.footer-group-item(href=url_for(config.category_dir) + '/学习笔记/')= '学习笔记'
      a.footer-group-item(href=url_for(config.category_dir) + '/魔改教程/')= '魔改教程'
      a.footer-group-item(href=url_for(config.category_dir) + '/分享转载/')= '分享转载'
      a.footer-group-item(href=url_for(config.category_dir) + '/作品案例/')= '作品案例'
    .footer-group
      span.footer-group-title= '关于'
      a.footer-group-item(href='/notice/')= '网站公告'
      a.footer-group-item(href='/update/')= '博客更新'
      a.footer-group-item(href='/message/')= '给我留言'
      a.footer-group-item(href='mailto:eurkon@foxmail.com')= '联系博主'
    .footer-group
      span.footer-group-title= '服务'
      a.footer-group-item(href='/fcircle/')= '友链订阅'
      a.footer-group-item(href='/rss.xml')= 'RSS 订阅'
      a.footer-group-item(href='/atom.xml')= 'Atom 订阅'
      a.footer-group-item(href='https://bf.zzxworld.com/s/686')= 'BlogFinder'
      //- a.footer-group-item(href='https://v6.51.la/report/overview?comId=70576')= '51.LA 统计'
      //- a.footer-group-item(href='https://tongji.baidu.com/web/10000307608/overview/index?siteId=16265874')= '百度统计'
    .footer-group#footer-group-flink
      span.footer-group-title= '友链'
        i.fas.fa-arrow-rotate-right(title="随机友链" onclick="eurkon.footerRandomFlink(flinks, 3);")
      a.footer-group-item(href='' target='_blank' rel='noopener external nofollow noreferrer')= '加载中...'
      a.footer-group-item(href='' target='_blank' rel='noopener external nofollow noreferrer')= '加载中...'
      a.footer-group-item(href='' target='_blank' rel='noopener external nofollow noreferrer')= '加载中...'
      a.footer-group-item(href='/link/')= '更多友链'
    .footer-group
      span.footer-group-title= '协议'
      a.footer-group-item(href='/protocol/comment/' title='用户发言前，请认真阅读本条例。一经发言，即视为同意接受本条例；如不同意，请勿发言。')= '评论协议'
      a.footer-group-item(href='/protocol/copyright/' title='本站所有原创文章采用知识共享(Creative Commons)署名—非商业性使用—相同方式共享4.0国际公共许可协议')= '版权协议'

  #footer-banner
    #footer-banner-container
      .footer-banner
        if theme.footer.owner.enable
          - var now = new Date()
          - var nowYear = now.getFullYear()
          if theme.footer.owner.since && theme.footer.owner.since != nowYear
            .copyright!= `Copyright &copy; ${theme.footer.owner.since} - ${nowYear}  ${config.author}.com  All Rights Reserved.`
          else
            .copyright!= `Copyright &copy; ${nowYear}  ${config.author}.com  All Rights Reserved.`
      if theme.footer.copyright
        .footer-banner
          .framework-info
            span= _p('footer.framework') + ' '
            a(href='https://hexo.io')= 'Hexo'
            span.footer-separator |
            span= _p('footer.theme') + ' '
            a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
        if theme.footer.custom_text
          .footer_custom_text!=`${theme.footer.custom_text}`
      .footer-banner
        a(href='https://beian.miit.gov.cn')!= '粤ICP备2022108639号'
        a(href='/protocol/copyright/' title="版权协议" )
          i.fab.fa-creative-commons
          i.fab.fa-creative-commons-by
          i.fab.fa-creative-commons-nc
          i.fab.fa-creative-commons-sa
      //- <p id="badges" style="margin: 0;">
      //-   <a target="_blank" href="https://hexo.io/" style="margin-inline: 5px;" one-link-mark="yes"><img title="博客框架Hexo" class="entered loaded" src="https://img.shields.io/badge/Frame-Hexo-blue?style=flat&amp;logo=hexo" data-ll-status="loaded"></a>
      //-   <a target="_blank" href="https://butterfly.js.org/" style="margin-inline: 5px;" one-link-mark="yes"><img title="博客主题Butterfly" class="entered loaded" src="https://img.shields.io/badge/Theme-Butterfly-6513df?style=flat&amp;logo=bitdefender" data-ll-status="loaded"></a>
      //-   <a target="_blank" href="https://www.jsdelivr.com/" style="margin-inline: 5px;" one-link-mark="yes"><img title="本站使用JsDelivr为静态资源提供CDN加速" class="entered loaded" src="https://img.shields.io/badge/CDN-jsDelivr-orange?style=flat&amp;logo=jsDelivr" data-ll-status="loaded"></a>
      //-   <a target="_blank" href="https://vercel.com/" style="margin-inline: 5px;" one-link-mark="yes"><img title="本站部署托管于Vercel" class="entered loading" src="https://img.shields.io/badge/Hosted-Vercel-brightgreen?style=flat&amp;logo=Vercel" data-ll-status="loaded" ></a>
      //-   <a target="_blank" href="https://github.com/" style="margin-inline: 5px;" one-link-mark="yes"><img title="本站项目由GitHub托管" class="entered loaded" src="https://img.shields.io/badge/Source-Github-d021d6?style=flat&amp;logo=GitHub" data-ll-status="loaded"></a>
      //-   <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="margin-inline: 5px;" one-link-mark="yes"><img title="本站采用创作共用-署名-非商业性-相同方式共享4.0版国际许可协议" class="entered loaded" src="https://img.shields.io/badge/Copyright-BY--NC--SA%204.0-d42328?style=flat&amp;logo=Claris" data-ll-status="loaded"></a>
      //- </p>
