if is_home()
  .home-card
    if config.swiperNotice && config.swiperNotice.enable
      .swiper-notice
        !=partial('includes/swiper-notice', {}, {cache: true})

    if config.homeCard && config.homeCard.enable
      .skill-card
        .skill-card-container
          .home-card-subtitle
            .author-card-title!= config.subtitle 
            .author-card-desc
            script.
              document.querySelector('.home-card .home-card-subtitle .author-card-desc').innerHTML = document.domain.toUpperCase()
          if site.data.skill
            - let background = '#ffffff'
            - let shadow = '#999999'
            - let evenList = site.data.skill.link_list.filter((x, index) => index % 2 === 0)
            - let oddList = site.data.skill.link_list.filter((x, index) => index % 2 === 1)
            - evenList = evenList.slice(0, oddList.length)
            .skill-wrapper-container
              .skill-card-wrapper
                each item, index in evenList
                  .skill-icon-pair
                    .skill-icon(style=`background: ${evenList[index].color || background}; --main-shadow: 0 8px 12px -3px rgba(${parseInt('0x' + (evenList[index].color || shadow).slice(1, 3))}, ${parseInt('0x' + (evenList[index].color || shadow).slice(3, 5))}, ${parseInt('0x' + (evenList[index].color || shadow).slice(5, 7))}, .5)`)
                      img.no-lightbox(src=url_for(evenList[index].image))
                    .skill-icon(style=`background: ${oddList[index].color || background}; --main-shadow: 0 8px 12px -3px rgba(${parseInt('0x' + (oddList[index].color || shadow).slice(1, 3))}, ${parseInt('0x' + (oddList[index].color || shadow).slice(3, 5))}, ${parseInt('0x' + (oddList[index].color || shadow).slice(5, 7))}, .5)`)
                      img.no-lightbox(src=url_for(oddList[index].image))
                each item, index in evenList
                  .skill-icon-pair
                    .skill-icon(style=`background: ${evenList[index].color || background}; --main-shadow: 0 8px 12px -3px rgba(${parseInt('0x' + (evenList[index].color || shadow).slice(1, 3))}, ${parseInt('0x' + (evenList[index].color || shadow).slice(3, 5))}, ${parseInt('0x' + (evenList[index].color || shadow).slice(5, 7))}, .5)`)
                      img.no-lightbox(src=url_for(evenList[index].image))
                    .skill-icon(style=`background: ${oddList[index].color || background}; --main-shadow: 0 8px 12px -3px rgba(${parseInt('0x' + (oddList[index].color || shadow).slice(1, 3))}, ${parseInt('0x' + (oddList[index].color || shadow).slice(3, 5))}, ${parseInt('0x' + (oddList[index].color || shadow).slice(5, 7))}, .5)`)
                      img.no-lightbox(src=url_for(oddList[index].image))
          .skill-info-container(onclick="toRandomPost()")
            span= _p('随便逛逛')
            i.fas.fa-arrow-right
        .category-lists!= list_categories()
      //- if config.swiperPost && config.swiperPost.enable
      //-   .swiper-post
      //-     !=partial('includes/swiper-post', {}, {cache: true})

      .recommend-card
        - let postLimit = 6
        - let data = site.posts.filter((item) => item.recommend > 0)
        if data.length > 0
          - data.sort('recommend', -1).limit(postLimit).each(function(article){
            - let link = article.link || article.path
            - let title = article.title || _p('no_title')
            - let post_cover = article.cover
            a.recommend-post-item(href=url_for(link) title=title)
              .recommend-post-tag= _p('荐')
              .recommend-post-cover
                img(src=url_for(article.cover) onerror=`this.onerror=null;this.src='`+ url_for(theme.error_img.post_page) + `'` alt=title)
              .recommend-post-title(href=url_for(link) title=title)= title
          - })