- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
//- - page.aside = is_archive() ? theme.aside.display.archive: is_category() ? theme.aside.display.category : is_tag() ? theme.aside.display.tag : page.aside
- page.aside = is_archive() ? theme.aside.display.archive : page.aside // - 归档页隐藏侧栏
- page.aside = is_category() || page.type === 'categories' ? theme.aside.display.category : page.aside // - 分类页隐藏侧栏
- page.aside = is_tag() || page.type === 'tags' ? theme.aside.display.tag : page.aside // - 标签页隐藏侧栏
- page.aside = page.type === 'link' ? theme.aside.display.flink : page.aside // - 友链页隐藏侧栏
- page.aside = page.type === 'fcircle' ? theme.aside.display.fcircle : page.aside // - 朋友圈隐藏侧栏
- page.aside = page.type === 'stars' ? theme.aside.display.stars : page.aside // - 收藏页隐藏侧栏
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = is_post() ? 'post' : 'page'

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      !=partial('includes/loading/loading', {}, {cache: true})

    if theme.background
      #web_bg
      
    !=partial('includes/sidebar', {}, {cache: true})

    if page.type !== '404'
      #body-wrap(class=pageType)
        include ./header/index.pug

        main#content-inner.layout(class=hideAside)
          if body
            div!= body
          else
            block content
            if theme.aside.enable && page.aside !== false
              include widget/index.pug

        - var footerBg = theme.footer_bg
        if (footerBg)
          if (footerBg === true)
            - var footer_bg = bg_img
          else
            - var footer_bg = theme.footer_bg.indexOf('/') !== -1 ? `background-image: url('${url_for(footerBg)}')` : `background: ${footerBg}`
        else
          - var footer_bg = ''

        footer#footer(style=footer_bg)
          !=partial('includes/footer', {}, {cache: true})

    else
      include ./404.pug

    include ./rightside.pug
    !=partial('includes/third-party/search/index', {}, {cache: true})
    include ./rightmenu.pug
    include ./additional-js.pug