#rightmenu
  .rightmenu-group.rightmenu-small
    .rightmenu-item#menu-backward(onclick="window.history.back()")
      i.fas.fa-arrow-left
    .rightmenu-item#menu-forward(onclick="window.history.forward()")
      i.fas.fa-arrow-right
    .rightmenu-item#menu-refresh(onclick="window.history.reload()")
      i.fas.fa-arrow-rotate-right
    .rightmenu-item#menu-top(onclick="btf.scrollToDest(0, 500)")
      i.fas.fa-arrow-up
  .rightmenu-group.rightmenu-line#rightmenu-text
    .rightmenu-item#menu-copy
      i.fas.fa-copy
      span=_p('复制内容')
    .rightmenu-item#menu-comment
      i.fas.fa-comment
      span=_p('引用评论')
    .rightmenu-item#menu-paste
      i.fas.fa-paste
      span=_p('粘贴文本')
    .rightmenu-item#menu-search
      i.fas.fa-search
      span=_p('在本站搜索')
    .rightmenu-item#menu-baidu
      i.fas.fa-search-plus
      span=_p('去百度搜索')
  .rightmenu-group.rightmenu-line#rightmenu-href
    .rightmenu-item#menu-copy-image
      i.fas.fa-copy
      span=_p('复制图片')
    .rightmenu-item#menu-download-image
      i.fas.fa-download
      span=_p('下载图片')
    .rightmenu-item#menu-link
      i.fas.fa-link
      span=_p('分享链接')
    .rightmenu-item#menu-window
      i.fas.fa-window-restore
      span=_p('新窗口打开')
  .rightmenu-group.rightmenu-line#rightmenu-post
    a.rightmenu-item#menu-random(href="/random/")
      i.fas.fa-random
      span=_p('随机文章')
    a.rightmenu-item#menu-categories(href="/categories/")
      i.fas.fa-shapes
      span=_p('全部分类')
    a.rightmenu-item#menu-tags(href="/tags/")
      i.fas.fa-tags
      span=_p('所有标签')
    .rightmenu-item#menu-share
      i.fas.fa-share-square
      span=_p('分享本页')
  //- .rightmenu-group.rightmenu-line#rightmenu-mode
    .rightmenu-item#menu-darkmode(onclick="btf.switchDarkMode()")
      i.fas.fa-adjust
      span=_p('rightside.night_mode_title')
    .rightmenu-item#menu-barrage(onclick="eurkon.switchCommentBarrage()")
      i.fas.fa-comments
      span=_p('隐藏热评')
    .rightmenu-item#menu-readmode(onclick="btf.switchReadMode()")
      i.fas.fa-book-open
      span=_p('rightside.readmode_title')
    .rightmenu-item#menu-hideside(onclick="btf.hideAsideBtn()")
      i.fas.fa-arrows-alt-h
      span=_p('隐藏侧栏')
    .rightmenu-item#menu-translate
      i.fas.fa-earth-asia
      span=_p('rightside.translate_title')
  .rightmenu-group.rightmenu-line#rightmenu-site
    a.rightmenu-item#menu-message(href="/message/")
      i.fas.fa-envelope
      span=_p('留言信箱')
    a.rightmenu-item#menu-about(href="/about/")
      i.fas.fa-address-card
      span=_p('关于本站')
    //- .rightmenu-item#menu-star
    //-   i.fas.fa-star
    //-   span=_p('收藏本站')
#rightmenu-mask