#post-container
  .swiper-wrapper
    if site.data.post
      each i in site.data.post
        .post-item.swiper-slide
          a.post-item-img(href=url_for(i.link) alt='')|
            img(src=url_for(i.cover) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'`, alt='')
          .post-item-content
            span.post-item-date!= i.time
            a.post-item-title(href=url_for(i.link) alt='')!= i.title
            .post-item-text!= i.desc
  .post-item-pagination.swiper-pagination-clickable.swiper-pagination-bullets
script.
  var postSwiper = new Swiper('#post-container', {
    passiveListeners: true,
    spaceBetween: 30,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true
    },
    observer: true,//修改swiper自己或子元素时，自动初始化swiper
    observeParents: true,//修改swiper的父元素时，自动初始化swiper
    mousewheel: true,
    // autoHeight: true,
    pagination: {
      el: '.post-item-pagination',
      clickable: true,
    }
  });
  var postContainer = document.getElementById('post-container');
  postContainer.onmouseenter = function () {
    postSwiper.autoplay.stop();
  };
  postContainer.onmouseleave = function () {
    postSwiper.autoplay.start();
  };