#post-container
  .swiper-wrapper
    if site.data.post
      each i in site.data.post
        .post-item.swiper-slide
          a.post-item-img(href=url_for(i.link) alt='')|
            img(src=url_for(i.cover) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'`, alt='')
          .post-item-content
            span.post-item-date!= i.time
            a.post-item-title(href=url_for(i.link) alt='')!= i.title
            .post-item-text!= i.desc
  .post-item-pagination.swiper-pagination-clickable.swiper-pagination-bullets
script.
  var postContainer = document.getElementById('post-container');
  postContainer.insertAdjacentHTML('beforebegin', `
    <style>
      #post-container {
        color: #858585;
        width: 100%;
        font-size: 95%;
        position: relative;
        margin: auto;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      .post-item {
        display: flex;
        align-items: center;
      }

      @media screen and (max-width: 768px) {
        #post-container {
          min-height: 280px;
          height: auto;
          margin-top: 110px;
        }

        .post-item {
          flex-direction: column;
        }
      }

      .post-item.swiper-slide-active .post-item-img img {
        opacity: 1;
        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;
      }

      .post-item.swiper-slide-active .post-item-content>* {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
      }

      .post-item-img {
        width: 200px;
        flex-shrink: 0;
        height: 200px;
        padding: 10px;
        border-radius: var(--border-radius);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        overflow: hidden;
      }

      .post-item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: var(--border-radius);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      @media screen and (max-width: 768px) {
        .post-item-img {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 95%;
        }
      }

      .post-item-content {
        padding-right: 50px;
        padding-left: 50px;
      }

      @media screen and (max-width: 768px) {
        .post-item-content {
          margin-top: -90px;
          text-align: center;
        }
      }

      @media screen and (max-width: 576px) {
        .post-item-content {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .post-item-content>* {
        opacity: 0;
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -o-transform: translateY(25px);
        -ms-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      .post-item-date {
        display: block;
      }

      .post-item-title {
        color: var(--tab-botton-color);
        font-size: 1.72rem;
        margin-bottom: .5rem;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }

      .post-item-text {
        font-size: var(--global-font-size);
        color: var(--font-color);
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        line-height: 1.5rem;
      }

      .post-item-pagination {
        position: absolute;
        z-index: 21;
        width: 10px !important;
        top: 50%;
        bottom: auto !important;
        left: auto !important;
        right: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      @media screen and (max-width: 768px) {
        .post-item-pagination {
          width: 100% !important;
          top: 240px;
          left: 50% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }

      .post-item-pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: var(--border-radius);
        background: var(--blockquote-color);
        margin: .5rem 0 !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      .post-item-pagination .swiper-pagination-bullet:hover {
        opacity: 1;
        background: var(--light-text);
      }

      @media screen and (max-width: 768px) {
        .post-item-pagination .swiper-pagination-bullet {
          margin: 0 5px !important;
        }
      }

      .post-item-pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--main);
        height: 30px;
      }

      @media screen and (max-width: 768px) {
        .post-item-pagination .swiper-pagination-bullet-active {
          height: 10px;
          width: 30px;
        }
      }
    </style>
  `)
  var postSwiper = new Swiper('#post-container', {
    passiveListeners: true,
    spaceBetween: 30,
    effect: 'fade',
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true
    },
    observer: true,//修改swiper自己或子元素时，自动初始化swiper
    observeParents: true,//修改swiper的父元素时，自动初始化swiper
    mousewheel: true,
    // autoHeight: true,
    pagination: {
      el: '.post-item-pagination',
      clickable: true,
    }
  });
  postContainer.onmouseenter = function () {
    postSwiper.autoplay.stop();
  };
  postContainer.onmouseleave = function () {
    postSwiper.autoplay.start();
  };